[Desktop Entry]
Name=Stan's Calculator
Comment=Simple calculator written in C and GTK
Exec=~/.local/share/GTK-Calculator/bin/main
Terminal=false
Type=Application
Categories=Utilities
