[Desktop Entry]
Name=Calculator
Comment=Simple calculator written in C and GTK
Exec=sh -c "exec ~/.local/share/GTK-Calculator/bin/main"
Terminal=false
Type=Application
Categories=Utilities
